$grey: #818a91;

.link {
  text-decoration: none;
  color: #424242;
}

.no-items {
  padding-left: 170px;
  font-size: 18px;
  margin-top: 30px;
  color: $grey;
}

.is-text-centered {
  text-align: center;
  margin-top: 20px;
}

md-progress-circle {
  margin: 0 auto;
}

md-list {
  width: 650px;

  md-card {
    margin-top: 14px;
    padding: 12px 16px;
    line-height: 20px;

    .topic-name {
      @extend .link;
    }

    .time {
      color: $grey;
    }

    .title {
      @extend .link;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      margin: 10px 0;
    }

    p {
      color: #616161;
      font-size: 12px;
    }
  }
}
