<md-card class="register-card">
  <md-card-title>注册</md-card-title>
  <md-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <md-input-container>
        <input 
          mdInput
          required
          type="text"
          formControlName="username"
          placeholder="请输入用户名"
        >
        <span mdPrefix><md-icon>person</md-icon></span>
      </md-input-container>

      <md-input-container>
        <input 
          mdInput
          required
          type="email"
          formControlName="email"
          placeholder="请输入邮箱"
        >
        <span mdPrefix><md-icon>email</md-icon></span>
      </md-input-container>

      <md-input-container>
        <input 
          mdInput
          required
          type="password"
          formControlName="password"
          placeholder="请输入密码"
        >
        <span mdPrefix><md-icon>lock</md-icon></span>
      </md-input-container>

      <md-card-actions>
        <button type="submit" md-raised-button color="primary" style="width: 100%">注册</button>
        <button [routerLink]="['/account/login']" md-button color="primary" style="width: 100%">登录</button>
      </md-card-actions>

    </form>
  </md-card-content>
</md-card>

<ng2-toasty [position]="'top-center'"></ng2-toasty>
