<md-card class="login-card">
  <md-card-title>登录</md-card-title>
  <md-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <md-input
        required
        type="email"
        formControlName="email"
        placeholder="请输入邮箱"
        style="width: 100%">
        <span md-prefix><md-icon>email</md-icon></span>
      </md-input>

      <md-input
        required
        type="password"
        formControlName="password"
        placeholder="请输入密码"
        style="width: 100%">
        <span md-prefix><md-icon>lock</md-icon></span>
      </md-input>

      <md-card-actions>
        <button type="submit" md-raised-button color="primary" style="width: 100%">登录</button>
        <button [routerLink]="['/account/register']" md-button color="primary" style="width: 100%">创建账号</button>
      </md-card-actions>

    </form>
  </md-card-content>
</md-card>

