.navbar {
  nav {
    display: flex;
    width: 1200px;
    img {
      height: 1.2rem;
    }

    .fill {
      flex: 1 1 auto;
    }

    button {
      color: white;
      font-size: 12px;
      min-width: 52px;
      height: 30px;
      line-height: 30px;
    }
  }
}
