.container {
  display: flex;
  width: 1200px;
  margin: 0 auto 50px;

  app-category {
    display: flex;
    width: 200px;
  }

  .right-panel {
    margin: 22px 0 0 14px;
    width: 336px;
    display: flex;
    flex-direction: column;
  }
}
